:root {
	--main-white: rgb(218	221	220);
	--main-teal: rgb(111 152 171);
	--main-orange: rgb(253 132 75);
	--main-gold: rgb(221 202 140);
	--main-blue: rgb(30 39 59);
	--main-wine: rgb(168 83 72);
	--main-gray: #303841;
	--main-brown: rgb(84 61 48);
		
	font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
}


/* global */

html, body {
    height: 100%;
}

@media (max-width: 700px) {
    :root {
    font-size: 50%;
  }
}

body {
	display: flex;
	flex-direction: column;
	color: var(--main-white);
	font-size: 1.4rem;
}

h1 {
    font-size: 7.2rem;

}

h2 {
    font-size: 6.4rem;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

a:hover {
	color: var(--main-gold);
}

ul {
	list-style: none;		
}


/* nav */

nav {
	width: 100%;
	height: 8rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--main-wine);
}

header {
	font-size: 3.2rem;
	margin: auto;
}

#nav-links {
	margin: auto;
	display: flex;
	gap: 4rem;
	font-size: 2.4rem;
}



/* main sections */

main {
	margin-top: 8rem;
	width: 100%;
	/* display: flex;
	flex-direction: column;
	align-items: center; */
}

main section {
	width: 100%;
	height: auto;
    padding: 6.2rem 8rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 3rem;
    flex-direction: column;
    gap: 4.8rem;
}


/* welcome */

#welcome-section {
	/* margin-top: 3rem; */
    /* padding-top: 2rem; */
    padding-bottom: 16rem;
	height: 92vh;
	background-color: var(--main-teal);
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.8rem;
}

#intro {
	text-align: center;
}

#portrait {
	width: 26rem;
	border-radius: 50%;
}

#contact-links {
	display: flex;
	gap: 4rem;
	font-size: 2rem;
}

#contact-links svg {
	width: 4rem;
}

/* tools */

#tools {
	background-color: gray;
    justify-content: space-between;
	/* justify-content: flex-start;	 */
	/* gap: 2vh; */
	/* flex-basis: content; */
}
#tool-list {
    /* margin-top: 6.4rem; */
	width: 100%;
	display: flex;
	justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10rem;
}
#tool-list li {
	display: inline;
    margin: auto;
}


#tool-list img {
    height: 12.8rem;
    width: auto;
}


/* projects */

#projects {
	background-color: var(--main-blue);
	justify-content: flex-start;
	flex-basis: content;
}

#project-tiles {
	display: flex;
	flex-wrap: wrap;
	
}
.project-tile {
	margin: 1rem;
}


/* footer */

footer {
	font-weight: 300;
	text-align: center;
	padding: 2rem;
	background: var(--main-gray);
	border-top: 4px solid var(--main-wine);
	font-size: 2rem;	
    flex-shrink: 0;
}


.dots-between li {
    list-style: none;
    white-space: nowrap;
    display: inline;
}

.dots-between li::after {
    content: " •";
}