:root {
	--main-white: rgb(218	221	220);
	--main-teal: rgb(111 152 171);
	--main-orange: rgb(253 132 75);
	--main-gold: rgb(221 202 140);
	--main-blue: rgb(30 39 59);
	--main-wine: rgb(168 83 72);
	--main-gray: #303841;
	--main-brown: rgb(84 61 48);
	--nav-opacity: .9;
		
	font-size: 10px;
	scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* global */

html, body {
    height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	color: var(--main-white);
	background-color: var(--main-blue);
}

h1 {
    font-size: 7.2rem;

}

h2 {
    font-size: 6.4rem;
}

h3 {
	font-size: 5.6rem;
}

h4 {
	font-size: 4.8rem;
}

p {
	font-size: 3rem;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

a:hover {
	color: var(--main-gold);
}

ul {
	list-style: none;		
}



/* nav */

nav {
	width: 100%;
	height: 8rem;
	padding: 2vh 5vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* gap: 4vw; */
	position: fixed;
	top: 0;
	left: 0;
	background-color: var(--main-wine);
}

header {
	font-size: 3.2rem;
	width: auto;

}

#hamburger {
	display: none;
	width: 4rem;
	cursor: pointer;
	border:	.2rem solid;
	padding: .5rem .7rem;
	border-radius: 15%;
}

.bar {
	display: block;
	width: 100%;
	height: .3rem;
	margin: .5rem auto;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	background-color: white;
}

#nav-links {
	display: flex;
	justify-content: center;
	gap: 4vw;
	font-size: 2.4rem;
	opacity: var(--nav-opacity);
}

.nav-link {
	padding: 1rem;
	border-radius: 25%;
}

.nav-link:hover {
	animation-name: highlight-sticky;
	animation-duration: 500ms;
	animation-fill-mode: forwards;
}
@keyframes highlight-sticky {
	100% {
		background-color: var(--main-teal);
	}
}

/* main sections */

main {
	margin-top: 6vh;
	width: 100%;
	flex: 1 0 auto;
}

main section {
	min-height: 86vh;
	width: 100%;
	padding: 5rem 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 3rem;
    flex-direction: column;
    gap: 4.8rem;
}


#welcome-section {
	padding-top: 20rem;
	min-height: 94vh;
	height: auto;
	background-color: var(--main-blue);
	display: flex;
	flex-direction: column;
	gap: 0;
}

#intro {
	text-align: center;
}

#portrait {
	width: 26rem;
	border-radius: 50%;
}

#contact-links {
	width: 26rem;
	margin-bottom: 5rem;
	display: flex;
	align-items: center;
	justify-content: space-around;
	font-size: 3rem;
	padding: .6rem 0;
	border-radius: 4.4rem;
}

#contact-links svg {
	padding-top: 1rem;
	width: 4.5rem;
}

.highlight-animate {
	animation-name: highlight;
	animation-duration: 1850ms;
}
@keyframes highlight {
	50% {
		background-color: var(--main-wine);
	}
	100% {
		background-color: inherit;
	}
}

.highlight-sticky-animate {
	animation-name: highlight-sticky;
	animation-duration: 1850ms;
	animation-fill-mode: forwards;
}
@keyframes highlight-sticky {
	100% {
		background-color: white;
	}
}

.unhighlight-animate {
	animation-name: unhighlight;
	animation-duration: 925ms;
}
@keyframes unhighlight {
	100% {
		background-color: inherit;
	}
}

.nav-anchor {
	display: block;
	position: relative;
	top: -5vh;
	visibility: hidden;
}

#contact-anchor {
	top: -33vh;
}

#bio {
	display: flex;
	justify-content: center;
}

#bio p {
	text-align: center;
	max-width: 70%;
}

/* tools */

#tools {
	background-color: gray;
	display: flex;
	flex-direction: column;
}

#tool-icon-grid {
	width: 100%;
	flex-grow: 0.8;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.tool-row {
    /* margin-top: 6.4rem; */
	width: 100%;
	display: flex;
	/* justify-content: space-between; */
    align-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    gap: 10rem;
}

.tool-row-lg {
	gap: 0rem;
}

.tool-row li {
	display: inline;
    margin: auto;
}

.tool-logo{
    height: 8rem;
    width: auto;
}
.tool-logo-lg {
    height: 11rem;
    width: auto;
}

#python-logo {
	margin: -5rem;
}


/* projects */

#projects {
	background-color: var(--main-teal);
	/* justify-content: flex-start; */
	/* flex-basis: content; */
}

#project-tiles {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	/* gap: 8rem; */
}

#project-tiles * {
	width: auto;
}

.project-tile {
	border-top: solid;
	width: 100%;
	display: flex;
	align-items: center;
	gap: 8rem;
	padding: 8rem;
}

.first-project {
	border-top: none;
}

.project-info {
	display: flex;
	flex-direction: column;
	gap: 2.8rem;
}

.project-links {
	display: flex;
	gap: 2rem;
}

.project-links a {
	border: solid;
	border-radius: 1rem;
	padding: 1rem;
}

.lalign {
	justify-content: flex-start;
}

.ralign {
	flex-direction: row-reverse;
	justify-content: flex-start;
}

.project-preview {
	height: 42rem;
	width: auto;
}

/* footer */

footer p {
    /* flex-shrink: 0; */
	/* font-weight: 300; */
	text-align: center;
	padding: 2rem;
	background: var(--main-gray);
	border-top: 0.2vh solid var(--main-wine);
	font-size: 2rem;	
}

@media (max-width: 850px) {
	/* :root {
		font-size: 5px;
	} */

	header {
		font-size: 4.2rem;
	}
	
	#hamburger {
		display: block;
		transition: ease;
	}
	/* On click, remove the middle bar and turn the top and bottom bars into an X */
	#hamburger.active .bar:nth-child(2) {
		opacity: 0;
	}
	#hamburger.active .bar:nth-child(1) {
		transform: translateY(.78rem) rotate(45deg);
	}
	#hamburger.active .bar:nth-child(3) {
		transform: translateY(-.78rem) rotate(-45deg);
	}

	#nav-links {
		flex-direction: column;
		position: fixed;
		top: -100%; /* Hide the links to the right of the viewport */
		width: 100%;
		text-align: center;
	}
	
	#nav-links.active {
		padding: 2rem;
		top: 8rem;
		left: 0;
		width: 100%;
		background-color: var(--main-wine);
	}

	#nav-links a {
		font-size: 4rem;
	}
}

@media (max-width: 900px) {
	:root {
		font-size: 6px;
	}
}

@media (max-width: 1200px) {
	:root {
		font-size: 8px;
	}
}

/* above max-width 1200px uses normal styling */