/* .contact-link {
    margin: 10px;
    background-color: green;
}

#my-info {
    align-items: flex-start;
}
#nav-buttons {
    align-items: flex-end;

*/



.dots-between li {
    list-style: none;
    white-space: nowrap;
    display: inline;
}

.dots-between li::after {
    content: " •";
}